<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <style>
        .layout.flexbox {
            margin-top: 200px;
        }

        .layout.flexbox .left-center-right {
            display: flex;
        }

        .layout.flexbox .left {
            width: 300px;
            background: red;
        }

        .layout.flexbox .center {
            /* 获得剩余可分配的空间 */
            flex: 1;
            background: yellow;
        }

        .layout.flexbox .right {
            width: 300px;
            background: blue;
        }
    </style>
    <section class="layout flexbox">
        <h1>三栏布局</h1>
        <article class="left-center-right">
            <div class="left"></div>
            <div class="center">
                <h2>flexbox解决方案</h2>
                1.这是三栏布局的flexbox解决方案； 2.这是三栏布局的flexbox解决方案； 3.这是三栏布局的flexbox解决方案； 4.这是三栏布局的flexbox解决方案； 5.这是三栏布局的flexbox解决方案； 6.这是三栏布局的flexbox解决方案；
            </div>
            <div class="right"></div>
        </article>
    </section>
</body>

</html>