<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        body {
            width: 80%;
            margin: 0 auto;
        }
    </style>
    <!-- 小屏下不会是流式的，后面的div块元素感觉不到前面元素的存在，认为自己独占一行， 如果没有margin-left,
        就会围绕在左边元素的旁边。如果有了固定px的margin-left，在屏幕大小小于margin-left的情况下，由于margin-left的阻隔，它会被遮蔽。
        如果是%来定宽度，则一直以百分比分配，不会被遮蔽。
    -->
    <style>
        .css-two-column-layout {
            overflow: hidden;
        }

        .css-left-div__float {
            width: 120px;
            float: left;
        }

        .css-right-div {
            margin-left: 140px;
        }
    </style>
    <div class="css-two-column-layout">
        <div class="css-left-div__float">左边固定宽度，高度不固定</div>
        <div class="css-right-div">
            这里的内容可能比左侧高，也可能比左侧低。宽度需要自适应。</br>
            基本的样式是，两个div相距20px, 左侧div宽 120px
        </div>
    </div>
    <!-- 会被前面高度比较高的元素向下挤，造成空白 -->
    <div>div after layout</div>
</body>

</html>